@use './src/styles/index' as s;

.container {
  width: 100%;
  margin: 8vmax;

  // @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);

  & :local {
    .wrapper {
      header {
        h3 {
          line-height: 100%;
        }
      }

      .questions {
        margin-top: 5rem;
        //border: 1px solid red;
      }

      hr {
        border-color: #727171;
      }

      .accordion_container {
        max-width: 90%;
        width: 100%;
        margin-left: auto;

        .a_summary {
          background-color: rgba(231, 79, 0, 0.03);
        }

        //border: 1px solid red;
      }
    }
  }
}
