@use './src/styles/index' as s;

.container{
  width: 100%;
  min-height: 100vh;
  margin: 6vmax 0;
  padding: 2rem;

  // @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);

  & :local{

    .wrapper{
      display: flex;
      flex-flow: column;
      gap: 4rem;
    }
  }
}
