$grey-dark: #424f55;
$orange: #df6951;
$text: #5e6282;

$gray-light: rgba(237, 237, 237, 0.51);
$gray: #f2f5f9;
$accent: #e74f00;
$accent-light: rgba(121, 99, 240, 0.08);
$secondary: rgba(185, 185, 185, 0.24);

$main-bg: #f5f7fb;
$contact-bg: #ecf0f3;
$orange: #fd7f28;
