@use './src/styles/index' as s;

.container {
  width: 100%;

  // @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);

  & :local {
    header {
      margin: 2rem 0;

      h3 {
        line-height: 100%;
      }
    }

    .content {
      button {
        margin-top: 2rem;
        max-width: 15rem;
      }
    }

    .wrapper {
    }
  }
}
