@use './src/styles/index' as s;

.container {
  width: 100%;
  //max-width: 70rem;
  margin: 0 auto;

  // @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);

  & :local {
    header {
      margin: 1.5rem 0;

      h3 {
        line-height: 100%;
      }
    }

    .content {
      color: #464646;
    }

    .wrapper {
    }
  }
}
