@use './src/styles/index' as s;

.container {
  // small box-shadow
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2) !important;
  position: fixed;
  top: 0;
  z-index: 999999;
  width: 100%;
  backdrop-filter: blur(5px);
  //display: none;

  &.mobile {
    & :local {
      .toolbar {
        padding: 1rem 1rem;
      }
    }
  }

  & :local {
    .toolbar {
      display: flex;
      padding: 1rem 5rem;
      width: 100%;
      max-width: 1700px;
      margin: 0 auto;

      //border: 1px solid red;

      //border: 1px solid red;

      & :global {
        .MuiBadge-badge {
          background-color: white;
          color: red;
          border: thin solid darkgrey;
          font-weight: bolder;
          //font-size: .8rem;

          box-shadow: 0 0 0 2px #fff, 0 0 0 3px #000;
        }
      }

      & :local {
        .nav_item {
          &.active {
            color: s.$clrs-accent;
            text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.17);
            transition: color 0.2s ease-in-out;
          }

          p {
            position: relative;
            // text shadow
            text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.17);
            font-weight: 900;
            text-transform: capitalize;
            transition: color 0.17s ease-out;

            &::after {
              content: '';
              display: block;
              background-color: s.$clrs-accent;
              height: 2px;
              width: 0;
              transition: width 0.2s ease-in-out;
            }

            &:hover {
              color: s.$clrs-accent;
              text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.17);
              transition: color 0.2s ease-in-out;

              // animate the sudo class to underline on hover
              &::after {
                width: 100%;
                transition: width 0.2s ease-in-out;
              }
            }
          }
        }
      }
    }
  }
}
